In [1]:
import pandas as pd
data=pd.read_csv('coupons_ner.csv',names=['OfferDetails'])
data.head()

                                        OfferDetails
0  Save $2.00 ONE Downy Liquid Fabric Conditioner...
1  Save $2.00 ONE Tide PODS OR Tide Power PODS (e...
2  Save $2.00 ONE Tide Laundry Detergent (exclude...
3  SAVE $1.00 ON TWO when you buy TWO BOXES (8.9 ...
4  $3.00 OFF when you purchase any THREE (3) Pepp...

In [2]:
import re
rows = []
for t in data['OfferDetails']:
    x = re.findall('^.*\$?([0-9].[0-9][0-9])', t)
    rows.append(x)
data['FaceValue'] = rows

In [3]:
data.head()

                                        OfferDetails FaceValue
0  Save $2.00 ONE Downy Liquid Fabric Conditioner...    [2.00]
1  Save $2.00 ONE Tide PODS OR Tide Power PODS (e...    [2.00]
2  Save $2.00 ONE Tide Laundry Detergent (exclude...    [2.00]
3  SAVE $1.00 ON TWO when you buy TWO BOXES (8.9 ...    [1.00]
4  $3.00 OFF when you purchase any THREE (3) Pepp...    [3.00]